<launch>
    <node pkg="autoware_mini_tutorial" name="publisher_1" type="publisher.py" output="screen" required="true">
        <param name="message" value="Hello ROS!" />
        <param name="rate" value="2.0" />
    </node>

    <node pkg="autoware_mini_tutorial" name="publisher_2" type="publisher.py" output="screen" required="true">
        <param name="message" value="Hello again!" />
        <param name="rate" value="10.0" />
    </node>

    <node pkg="autoware_mini_tutorial" name="subscriber" type="subscriber.py" output="screen" required="true"/>
</launch>
